@import "src/css/common/base";

.ac-error-message {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.ac-error-message__box {
  padding: 2em;
  max-width: 360px;
  border-radius: 4px;
}

.ac-error-message--danger .ac-error-message__box {
  border: 1px solid $danger-100;
  background: $danger-50;
}

.ac-error-message--transparent .ac-error-message__box {
  background: transparent;
}

.ac-error-message__title {
  color: $error-message-title-color;
  margin: 0 0 .25em;
  word-break: break-word;
  @include ComponentBodyTitleFont();
}


.ac-error-message__body {
  color: $text-secondary;
  @include ComponentBodyFont();

  p {
    margin: 0 0 .5rem;
  }
}

.ac-error-message__retry {
  margin-top: 1.5rem;
  text-align: center;
}
